.container {
  height: 100%;
  padding: 0 10rem 0 10rem;
  display: flex;
  place-items: center;
  flex-wrap: wrap;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0;
  }
  // .currency {
  //   flex: 1 0 200px;
  // }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }

  .currency {
    flex-basis: 400px;
  }
}

.currency {
  border: 1px rgb(136, 136, 136) solid;
  border-radius: 10px;
  height: 100px;
  flex: 1 1 30%;
  max-width: 200px;
  margin: 0.5rem;
  padding: 1rem;

  .name {
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
  }

  .price {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: #f2a900;
  }

  .volume {
    display: table;

    text-align: left;
    font-size: 0.5rem;
    font-weight: 500;
    color: grey;
  }
}

.currency-volume {
  display: table-cell;
  padding-right: 10px;
}

.currency-change {
  display: table-cell;
}
