.container {
  height: 100%;
  padding: 0 10rem 0 10rem;
  display: grid;
  place-items: center;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  width: inherit;
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 740px) {
  .container {
    padding: 0;
  }

  .parent {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }

  .header {
    font-size: 1.5rem;
  }

  .parent {
    grid-template-columns: 1fr;
  }
}

.currency {
  border: 1px rgb(136, 136, 136) solid;
  border-radius: 10px;
  height: 100px;
  margin: 0.5rem;
  padding: 1rem;

  .name {
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
  }

  .price {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: #f2a900;
  }

  .others {
    display: table;

    text-align: left;
    font-size: 0.5rem;
    font-weight: 500;
    color: grey;

    .volume {
      display: table-cell;
      padding-right: 20px;
    }

    .change {
      display: table-cell;
    }
  }
}
